# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[input]
race_hkjc_base_url = https://racing.hkjc.com

race_result_base_url = https://racing.hkjc.com/racing/information/chinese/Racing/LocalResults.aspx

# Run specific day range
scrape_method = day_range
start_date = 2017-01-01
end_date = 2026-03-08

# Run weekly
# scrape_method = past_days
past_x_day = 1

[output]
race_output_base_path = /Users/siufungwan/Desktop/hkjc_scraper/DB
horse_checking_output_path = /Users/siufungwan/Desktop/hkjc_scraper/DB/horse_checking
horse_output_path = /Users/siufungwan/Desktop/hkjc_scraper/DB/horse


[support]
to_update_csv_path =/Users/siufungwan/Desktop/hkjc_scraper/DB/horse_checking/horses_to_update.csv

[settings]
default = hkjc_scraper.settings

[deploy]
project = hkjc_scraper
