# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[input]
past_x_day = 7

race_hkjc_base_url = https://racing.hkjc.com

race_result_base_url = https://racing.hkjc.com/racing/information/chinese/Racing/LocalResults.aspx




[output]
race_output_base_path = /Users/siufungwan/Desktop/hkjc_scraper/DB

[settings]
default = hkjc_scraper.settings

[deploy]
project = hkjc_scraper
